deployment/k8s
Dockerfile
.dockerignore
.bumpversion.cfg
db.sqlite3
Makefile
venv
kubeportal/tests
kubeportal/__pycache__
kubeportal/static/frontend/dist
kubeportal/static/frontend/node_modules
codecov.yaml
pytest.ini
requirements-dev.txt

