{% extends 'admin/custom_backend_view.html' %}

{% block content %}

<div id="content-main">

  <h2>Visible K8S namespaces without assigned users:</h2>
  {% if namespaces_no_portal_users %}
  <table class="table table-striped table-responsive-sm">
    <tr>
      <th>Namespace ID</th><th>Namespace Name</th>
    </tr>
    {% for ns in namespaces_no_portal_users %}
    <tr>
      <td>{{ ns.uid }}</td>
      <td>{{ ns.name }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  There are no visible namespaces without portal users.
  {% endif %}

  <h2>Visible K8S namespaces without pods:</h2>
  {% if namespaces_no_pods %}
  <table class="table table-striped table-responsive-sm">
    <tr>
      <th>Namespace ID</th><th>Namespace Name</th>
    </tr>
    {% for ns in namespaces_no_pods %}
    <tr>
      <td>{{ ns.uid }}</td>
      <td>{{ ns.name }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  There are no visible namespaces without pods.
  {% endif %}

  <h2>Users created a long time ago:</h2>
  {% if old_service_accounts %}
  <table class="table table-striped table-responsive-sm">
    <tr>
      <th>Username</th><th>E-Mail</th><th>Creation Date</th><th>Comments</th>
    </tr>
    {% for s in old_service_accounts %}
    <tr>
      <td>{{ s.username }}</td>
      <td>{{ s.email }}</td>
      <td>{{ s.date_joined }}</td>
      <td>{{ s.comments }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  There are no users older than {{ months }} months.
  {% endif %}


  </table>

</div>

{% endblock %}
