{% extends 'base.html' %}
{% load account socialaccount %}
{% load frontend_tags %}

{% block content %}

{% settings_value "AUTH_AD_DOMAIN" as auth_ad_domain %}
{% settings_value "SOCIAL_AUTH_GOOGLE_OAUTH2_KEY" as auth_google_key %}

<div class="container">
  <div class="card card-login mx-auto mt-5 mb-5">
    <div class="card-header">{% settings_value "BRANDING" %}</div>
    <div class="card-body">
      <form method="POST" action="{% url 'account_login' %}">

      {% csrf_token %}
      {% if 'next' in request.GET %}
        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
      {% endif %}
      {% if 'rd' in request.GET %}
        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
      {% endif %}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <div class="form-group">
        <div class="form-label-group">
          <input type="text" id="username" name="login" class="form-control" placeholder="User name" required="required" autofocus="autofocus">
          <label for="username">User name</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-label-group">
          <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="required">
          <label for="password">Password</label>
        </div>
      </div>
      <input type="submit" value="Sign In" class="btn btn-primary btn-block"/>
      </form>

    {% if auth_google_key %}
      <hr/>
      <div class="d-flex justify-content-around">
        <a href="{% provider_login_url 'google' %}" style="color: white" id="google-button" class="btn btn-sm btn-primary">
          <i class="fab fa-google"></i> Sign in with Google
        </a>
      </div>
    {% endif %}



    </div>
  </div>
</div>
{% endblock %}
