{% extends 'base.html' %}
{% load frontend_tags %}

{% block content %}

<div class="container">
  <div class="card card-login mx-auto mt-5 mb-5">
    <div class="card-header">{% settings_value "BRANDING" %}</div>
    <div class="card-body">
		<p>Are you sure you want to sign out?</p>

	<form method="post" action="{% url 'account_logout' %}">
	  {% csrf_token %}
	  {% if redirect_field_value %}
	  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
	  {% endif %}
      <input type="submit" value="Sign Out" class="btn btn-primary btn-block"/>
	</form>
	</div>
  </div>
</div>

{% endblock %}