{% extends "admin/base_site.html" %}

{% block content %}
<ul class="messagelist">
{% for log in ns_logs %}
	<li class="{{ log.severity }}">{{ log.msg }}</li>
{% endfor %}
</ul>

<h1>Request for cluster access</h1>

<p>
<table>
	<tr>
		<td>Username:</td><td>{{user.username}}</td>
	</tr>
	<tr>
		<td>Real Name:</td><td>{{user.get_full_name}}</td>
	</tr>
	<tr>
		<td>eMail:</td><td>{{user.email}}</td>
	</tr>
	<tr>
		<td>Last login:</td><td>{{user.last_login}}</td>
	</tr>
</table>
</p>

{% if answered_by != None %}
<p>
	Sorry, you are too late ... {{ answered_by }} already {{ answered_decision }} this request.
</p>

{% else %}

<h3>Please choose an option:</h3>

<p>
<form action="." method="post">
	<div style="display: grid; grid-auto-rows: 45px; width: 600px; align-items: center; justify-content: stretch;">
	    {% csrf_token %}
	    <input style="grid-row:1;grid-column:1" type="radio" id="approve_create" name="choice" value="approve_create">
    	<label style="grid-row:1;grid-column:2" for="approve_create">Approve request, create new Kubernetes namespace: </label> 
	    <input style="grid-row:1;grid-column:3" type="text" id="approve_create_name" name="approve_create_name">

	    <input style="grid-row:2;grid-column:1" type="radio" id="approve_choose" name="choice" value="approve_choose" {% if current_ns %}checked{% endif%}>
		<label style="grid-row:2;grid-column:2" for="approve_choose">Approve request, use existing Kubernetes namespace: </label> 
		<select style="grid-row:2;grid-column:3" name="approve_choose_name">
			{% for k8s_ns in all_namespaces %}
			 <option value="{{k8s_ns}}" {% if current_ns == k8s_ns %}selected{% endif %}>{{k8s_ns}}</option>
			{% endfor %}
		</select>
    <input style="grid-row:3;grid-column:1" type="radio" id="reject" name="choice" value="reject" {% if not current_ns %}checked{% endif%}>
	<label style="grid-row:3;grid-column:2" for="reject">Reject request</label> 
	</div>
	<br/>
    <input type="submit" value="Submit">
</form>
</p>

{% endif %}

{% endblock %}