{% extends 'admin/custom_backend_view.html' %}

{% block content %}

<div id="content-main">

  <h2>Visible K8S namespaces without assigned service accounts:</h2>
  {% if namespaces_no_portal_users %}
  <table class="table table-striped table-responsive-sm">
    <tr>
      <th>Namespace ID</th><th>Namespace Name</th>
    </tr>
    {% for ns in namespaces_no_portal_users %}
    <tr>
      <td>{{ ns.uid }}</td>
      <td>{{ ns.name }}</td>
    </tr>
    {% endfor %}
  </table>
  <a href="{% url 'admin:prunenamespaceswithoutserviceacc' %}"><button type="button" class="btn btn-danger">Prune</button></a>
  {% else %}
  There are no visible namespaces without portal users.
  {% endif %}

  <h2>Visible K8S namespaces without pods:</h2>
  {% if namespaces_no_pods %}
  <table class="table table-striped table-responsive-sm">
    <tr>
      <th>Namespace ID</th><th>Namespace Name</th>
    </tr>
    {% for ns in namespaces_no_pods %}
    <tr>
      <td>{{ ns.uid }}</td>
      <td>{{ ns.name }}</td>
    </tr>
    {% endfor %}
  </table>
  <a href="{% url 'admin:prunenamespaceswithoutpods' %}"><button type="button" class="btn btn-danger">Prune</button></a>
  {% else %}
  There are no visible namespaces without pods.
  {% endif %}

  <h2>Users that logged in a long time ago:</h2>
  {% if inactive_service_accounts %}
  <table class="table table-striped table-responsive-sm">
    <tr>
      <th>Username</th><th>E-Mail</th><th>Last Login</th><th>Comments</th>
    </tr>
    {% for s in inactive_service_accounts %}
    <tr>
      <td>{{ s.username }}</td>
      <td>{{ s.email }}</td>
      <td>{{ s.last_login }}</td>
      <td>{{ s.comments }}</td>
    </tr>
    {% endfor %}
  </table>
  <a href="{% url 'admin:pruneinactiveserviceaccounts' %}"><button type="button" class="btn btn-danger">Prune</button></a>
  {% else %}
  There are no users that logged in longer ago than {{ months }} months.
  {% endif %}
  </table>

</div>

{# Needs to be here until we figure out how to load bootstrap css in custom_backend_views #}
<style>
.btn {
  color: white;
  padding: 0.4rem 0.8rem;
  margin: 0.4rem 0.8rem;
  border: 1px solid transparent;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-danger.focus, .btn-danger:focus {
    box-shadow: 0 0 0 .2rem rgba(220,53,69,.5);
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

.btn-danger {
  background: #dc3545;
  border-color: #dc3545;
  border-radius: .25rem;
}
</style>

{% endblock %}
