{% extends 'base.html' %}
{% load frontend_tags %}


{% block content %}
<div class="container">

  <div class="card card-login mx-auto mt-5">
    <div class="card-header">{% settings_value "BRANDING" %} - Request for Permission</div>
    <div class="card-body">
        <p>The web application <strong>{{ client.name }}</strong> would like to have the following information:</p>

        <form method="post" action="{% url 'oidc_provider:authorize' %}">

            {% csrf_token %}
            {{ hidden_inputs }}
            <div class="form-group">
            <ul>
            {% for scope in scopes %}
                <li><strong>{{ scope.name }}</strong>: {{ scope.description }}</li>
            {% endfor %}
            </ul>
            </div>

            <input type="submit" value="Decline" class="btn btn-danger btn-block"/>
            <input name="allow" type="submit" value="Authorize" class="btn btn-success btn-block"/>
        </form>
    </div>
    </div>

</div>
{% endblock %}

