{% extends 'base.html' %}
{% load static %}
{% load frontend_tags %}

{% block extra_head %}
<link href="{% static 'sb-admin/css/sb-admin.min.css' %}" rel="stylesheet">
<link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <a class="navbar-brand mr-1" href="{% url 'index' %}">{% settings_value "BRANDING" %}</a>
    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
     <i class="fas fa-bars"></i>
    </button>
  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}">
          <i class="fas fa-fw fa-columns"></i>
          <span>Welcome</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'config' %}">
          <i class="fas fa-fw fa-file-alt"></i>
          <span>Config file</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'oauth2_provider:list' %}">
          <i class="fas fa-fw fa-shield-alt"></i>
          <span>OAuth</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">
          <i class="fas fa-fw fa-sign-out-alt"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">
        {% block dashboard_content %}
        {% endblock %}
       </div>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>







<div class="container d-flex mt-5 justify-content-around">

       <div>
	       <a href="{% url 'config' %}">
            <h2>Download config file</h2>
           </a>
        </div>



</div>
{% endblock %}

{% block extra_script %}
<script src="{% static 'sb-admin/js/sb-admin.min.js' %}"></script>
{% endblock %}


