{% extends 'base.html' %}

{% block content %}

<div class="container d-flex flex-column mt-5 align-items-center">
  <h1 class="h3 font-weight-normal">Please sign in</h1>
  <form method="POST" action="/social/complete/username/">
  {% csrf_token %}
  <div class="form-group">
    <label for="username" class="sr-only">Username</label>
    <input class="form-control" id="username" name="username" placeholder="Username" required autofocus>
  </div>
  <div class="form-group">
    <label for="password" class="sr-only">Password</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
  </div>
  <div class="text-center"><button type="submit" class="btn btn-primary">Login</button></div>
</form>
</div>
{% endblock %}
