{% extends 'base.html' %}
{% load frontend_tags %}


{% block content %}
<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">{% settings_value "BRANDING" %}</div>
    <div class="card-body">
      <form method="POST" action="/social/complete/username/">
        {% csrf_token %}
        <div class="form-group">
          <div class="form-label-group">
            <input type="text" id="username" name="username" class="form-control" placeholder="User name" required="required" autofocus="autofocus">
            <label for="username">User name</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="required">
            <label for="password">Password</label>
          </div>
        </div>
        <input type="submit" value="Login" class="btn btn-primary btn-block"/>
      </form>
      <div class="text-center">
          <div class="d-block small mt-3 text-secondary">{% ad_status %}</div>      
      </div>
    </div>
  </div>
</div>

{% endblock %}
