{% extends 'portal_base.html' %}
{% load frontend_tags %}


{% block portal_content %}

<div class="row">
<div class="col">
<div class="card mb-3">
  <div class="card-header">
    Cluster Statistics
  </div>
  <div class="card-body">
      <table class="table table-striped table-responsive-sm">
        <tr>
          <td>Kubernetes</td><td>{{ k8sversion }}</td>
        </tr>
        <tr>
          <td>API Server</td><td>{{ apiserver }}</td>
        </tr>
        <tr>
          <td>Cluster Nodes</td><td>{{ numberofnodes }}</td>
        </tr>
        <tr>
          <td>CPU Cores</td><td>{{ cpusum }}</td>
        </tr>
        <tr>
          <td>Main Memory</td><td>{{ memsum }}Gi</td>
        </tr>
        <tr>
          <td>Deployed Pods</td><td>{{ numberofpods }}</td>
        </tr>
        <tr>
          <td>Allocated Volumes</td><td>{{ numberofvolumes }}</td>
        </tr>
        <tr>
          <td>Portal Users</td><td>{{ usercount }}</td>
        </tr>
        <tr>
          <td><a href="https://kubeportal.readthedocs.io/en/latest/" target="_new">KubePortal</a></td><td>v.{{ version }}</td>
        </tr>
        <tr>
        </tr>
      </table>

  </div>
</div>
</div>
</div>




{% endblock %}
