{% extends 'base.html' %}
{% load static %}
{% load frontend_tags %}

{% block content %}
  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <a class="navbar-brand mr-1" href="{% url 'index' %}">{% settings_value "BRANDING" %}</a>
    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
     <i class="fas fa-bars"></i>
    </button>
  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item {% if request.resolver_match.url_name == 'welcome' %}active{% endif %}">
        <a class="nav-link" href="{% url 'welcome' %}">
          <i class="fas fa-fw fa-columns"></i>
          <span>Welcome</span>
        </a>
      </li>
      <li class="nav-item {% if request.resolver_match.url_name == 'settings' %}active{% endif %}">
        <a class="nav-link" href="{% url 'settings' %}">
          <i class="fas fa-fw fa-chart-pie"></i>
          <span>Settings</span>
        </a>
      </li>
      {% if user.has_access_approved %}
      <li class="nav-item {% if request.resolver_match.url_name == 'config' %}active{% endif %}">
        <a class="nav-link" href="{% url 'config' %}">
          <i class="fas fa-fw fa-file-alt"></i>
          <span>Config</span>
        </a>
      </li>
      <li class="nav-item {% if request.resolver_match.url_name == 'stats' %}active{% endif %}">
        <a class="nav-link" href="{% url 'stats' %}">
          <i class="fas fa-fw fa-chart-pie"></i>
          <span>Statistics</span>
        </a>
      </li>
      {% endif %}
      {% if user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}">
          <i class="fas fa-fw fa-tools"></i>
          <span>Admin</span>
        </a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">
          <i class="fas fa-fw fa-sign-out-alt"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">
        {% block portal_content %}
        {% endblock %}
       </div>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->
{% endblock %}
