{% extends 'portal_base.html' %}
{% load frontend_tags %}


{% block portal_content %}

<div class="row">
  <div class="col">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-user"></i>
        Hello {{user.get_short_name}}!
      </div>
      <div class="card-body">
        <p>Full name: {{user.get_full_name}}</p>
        <p>User name: {{user.get_username}}</p>
        {% if user.has_access_approved %}
        <p>Kubernetes Service Account: {{user.service_account}}</p>
        {% else %}
        <p class="text-danger">
          Sorry, you have no access to the cluster.
        </p>
        {% if user.has_access_requested %}
        Your request for access was sent to the administrators. The response will be sent to your preferred E-Mail.<br>
        If needed, you can resend an access request to an administrator of your choice:
        <form method="POST" action="{% url 'access_request' %}">
          {% csrf_token %}
          <select id="selected-administrator" name="selected-administrator">
            <option value="default" selected disabled>Select Administrator</option>
            {% for admin in portal_administrators %}
            <option value="{{ admin.username }}">
            {{ admin.first_name }} {{ admin.last_name }} ({{ admin.username }})
            </option>
            {% endfor %}
          </select>
          <button type="submit" class="btn btn-secondary">send</button>
        </form>
        {% else %}
        You can send an access request to an administrator of your choice:
        <form method="POST" action="{% url 'access_request' %}">
          {% csrf_token %}
          <select id="selected-administrator" name="selected-administrator">
            <option value="default" selected disabled>Select Administrator</option>
            {% for admin in portal_administrators %}
            <option value="{{ admin.username }}">
            {{ admin.first_name }} {{ admin.last_name }} ({{ admin.username }})
            </option>
            {% endfor %}
          </select>
          <button type="submit" class="btn btn-secondary">send</button>
        </form>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="card-columns">
  {% for app in clusterapps %}
  <a target="_new" href="{% placeholder_replace app.link_url %}">
  <div display="inline-block">
    <div class="card mb-3 text-white bg-{% cycle 'primary' 'success' 'warning' %}">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fas fa-fw fa-external-link-alt"></i>
        </div>
        <div>{% placeholder_replace app.link_name %}</div>
      </div>
    </div>
  </div>
  </a>
  {% endfor %}
</div>



{% endblock %}
