apiVersion: v1
kind: ConfigMap
metadata:
  name: config
  namespace: kubeportal
data:
  KUBEPORTAL_DATABASE_URL: sqlite:////data/kubeportal.sqlite3
  KUBEPORTAL_API_USER_USERNAME: api
  KUBEPORTAL_API_USER_EMAIL: null@example.com
  