apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: kubeportal
  namespace: kubeportal
  annotations:
    kubernetes.io/ingress.class: nginx
    certmanager.k8s.io/cluster-issuer: letsencrypt
spec:
  tls:
  - secretName: kubeportal-tls
    hosts:
    - <Host name where the portal is available>
  rules:
  - host: <Host name where the portal is available>
    http: 
      paths: 
      - path: 
        backend:
          serviceName: kubeportal
          servicePort: 8000
