name: kubeportal-backend

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: '3.6'
      - name: install dependencies
        run: |
          pip install -r requirements-prod.txt -r requirements-dev.txt
      - name: Setup Minikube
        uses: manusa/actions-setup-minikube@v2.0.0
        with:
          minikube version: 'v1.6.2'
          kubernetes version: 'v1.15.7'
          github token: ${{ secrets.GITHUB_TOKEN }}
      - name: run Unittest
        run: make test
